<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sinch.android.rtc.sample.messaging"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MessagingActivity"
            android:screenOrientation="portrait" />

        <service android:name=".MessageService" />

        <activity
            android:name=".Profile_Set_Up"
            android:label="@string/title_activity_profile__set__up" >
        </activity>
        <activity
            android:name=".MyFeed"
            android:label="@string/title_activity_my_feed" >
        </activity>
        <activity
            android:name=".Notification"
            android:label="@string/title_activity_notification" >
        </activity>
        <activity
            android:name=".MusicaProfile"
            android:label="@string/title_activity_musica_profile" >
        </activity>
        <activity
            android:name=".Justin_Profile"
            android:label="@string/title_activity_justin__profile" >
        </activity>
    </application>

</manifest>